@charset "UTF-8";

body{
    background-color: gray;
    margin: 0;

}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    margin: 0px;
}

div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}